<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58482788402-0d77gjj8g78gl116p4mp8fvlgor0okbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58482788402-0d77gjj8g78gl116p4mp8fvlgor0okbq</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3aSEXfFnedNYmnWnSqBZcfuRZWOKsRY</string>
	<key>GCM_SENDER_ID</key>
	<string>58482788402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semcodar.ffshoplist</string>
	<key>PROJECT_ID</key>
	<string>fflistamercado1-e8960</string>
	<key>STORAGE_BUCKET</key>
	<string>fflistamercado1-e8960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58482788402:ios:9604ce30279614a5ca542b</string>
</dict>
</plist>